.card {
  background: var(--Grey, #f4f6fc);
  width: 405px;
  padding: 48px;
  height: 316px;

  h3 {
    margin-top: 20px;
    margin-bottom: 12px;
    color: var(--Dark-blue, #282938);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; /* 150% */
  }

  p {
    color: #282938;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
  }
}
